<h1>Log in!</h1>

<form class="" action="/login" method="post">
  <div class="input-wrapper">
    <label for="email">Email: </label>
    <input type="email" name="email" value="">
  </div>

  <div class="input-wrapper">
    <label for="password">Password: </label>
    <input type="password" name="password" value="">
  </div>

  <input type="submit" value="Login" class="button">
</form>