<h1>Sign Up!</h1>

<form class="" action="/users" method="post">
  <div class="input-wrapper">
    <label for="email">Email: </label>
    <input type="email" name="email" value="">
  </div>

  <div class="input-wrapper">
    <label for="password">Password: </label>
    <input type="password" name="password" value="">
  </div>

  <input type="submit" value="Create User" class="button">
</form>
