<h1>Welcome to Game Ratings!</h1>
<% if logged_in? %>
  <a href="/games/new" class="button">Create a new Game</a>
<% else %>
  <a href="/signup" class="button">Sign Up</a>
  <a href="/login" class="button">Login</a>
<% end %>